body {
    background-color: rgb(250, 249, 246);
    color: rgb(112, 123, 124);
    font-family: 'Space Mono', monospace;
}

.date {
    text-align: right;
    float: right;
    font-style: italic;
}

.title {
    float: left;
    font-style: italic;
}

.location {
    float: right;
}

.main {
    padding: 15px 50px;
}

.company {
    float: left;
    font-weight: bold;
}

.entry {
    padding-bottom: 15px;
}

.date, .title, .location, .company {
    font-size: 13px;
}

.points {
    font-size: 12px;
}

.entry-header {

}

.top-bar {
    border-bottom-style: dashed;
    border-color: rgb(112, 123, 124);
    border-width: 1px;
    font-family: 'Space Mono', monospace;
    margin-top: 75px;
    font-family: 'Space Mono', monospace;
}

.bottom {
    padding: 15px 50px;
    border-top-style: dashed;
    border-color: rgb(112, 123, 124);
    border-width: 1px;
}