.date {
    text-align: right;
    float: right;
    font-style: italic;
}

.title {
    float: left;
    font-style: italic;
}

.location {
    float: right;
}

.main {
    padding: 15px 50px;
}

.company {
    float: left;
}

.entry {
    padding-bottom: 15px;
}

.date, .title, .location, .company {
    font-size: 13px;
}

.points {
    font-size: 12px;
}

.entry-header {
    font-weight: bold;
}
